#bubble-cloud line {
    stroke-width: 2px;
    stroke: white;
    opacity: .8
}
#bubble-cloud path {
    fill: none;
    stroke: white;
    stroke-width: 2px
}
#bubble-cloud circle {
    fill: #fff;
    stroke: #aaa;
    stroke-width: 1px;
    opacity: .8
}
#bubble-cloud text {
    font: 14px sans-serif;
    fill: white;
}
#bubble-cloud:hover {
    stroke: white;
}